-
  const exportOpts = [
    {
      text: 'Sass (.sass)',
      value: 'sass'
    },
    {
      text: 'React (.tsx)',
      value: 'react'
    }
  ]

form#form.container
  .content
    .form-control
      label(for="font-name") Font name:
      input(id="font-name" name="fontName" type="text" placeholder="Font name")
    
    .form-control
      label(for="prefix") Prefix:
      input(id="prefix" name="prefix" type="text" placeholder="Prefix for SVGs and classes...")
    
    .form-control
      label(for="suffix") Suffix:
      input(id="suffix" name="suffix" type="text" placeholder="Suffix for SVGs and classes...")
    
    .form-control
      label(for="delimiter") Delimiter:
      input(id="delimiter" name="delimiter" type="text" placeholder="Delimiter used for names")

    .export-options
      label Export options:
      .export-options-content
        each opt, index in exportOpts
          .export-opt
            input(id=`it${index}` name="exportOptions" type="checkbox" value=opt.value)
            label(for=`it${index}`)= opt.text
  .actions
    button.submit(type="submit")
      div
        | Generate
        i#count 0
      svg(width='24' height='24' viewbox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M22 12C22 17.52 17.52 22 12 22C6.48 22 3.11 16.44 3.11 16.44M3.11 16.44H7.63M3.11 16.44V21.44M2 12C2 6.48 6.44 2 12 2C18.67 2 22 7.56 22 7.56M22 7.56V2.56M22 7.56H17.56' stroke='#fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round')
