$ff-primary: 'Inter', sans-serif;

$clr-bg-bran: var(--figma-color-bg-brand);
$clr-bg-lighter: var(--figma-color-icon-disabled);

$clr-text-brand: var(--figma-color-text-brand);
$clr-text-light: var(--figma-color-text-onwarning-secondary);
$clr-text-lighter: var(--figma-color-text-onbrand);
